.bg {
  /*位置の設定*/
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  /*背景画像の設定*/
  background: (https://dl.dropbox.com/s/28e21uby8b3eibo/sample.jpg?dl=0);
  background-size: cover;

  /*透過の設定*/
  opacity: 0.5;
}
